<%- include('partials/header.ejs') %>
<%- include('partials/spinner.ejs') %>
    <h1><span id="titleHere">Showing Status Pie for Project </span></h1>
<body>
    <span class="loader"></span>
    <div>    
        <input type="radio" id="pj" name="graph_selection" value="project" onchange='EpicToggle()' checked>
        <label for="project">By Project</label>&nbsp;
        <input type="radio" id="ep" name="graph_selection" value="epic" onchange='EpicToggle()'>
        <label for="epic">By Epic</label><br>
    </div>
    <section id ='projectDiv'>
        Project: 
        <select id="projects">
            <% let i = true %> 
            <% for (project of projects) { %>
                <option value="<%= project.ProjectID %>" <% if (i) { %> selected <% i = false  } %>><%= project.ProjectName %></option>
            <% } %>
        </select>
    </section>
    <section id='epicDiv' style="visibility:hidden">
        Epics: 
        <select id="epics">
            
        </select>
    </section>
    <div>
        <canvas id ='burnupAP'></canvas>
    </div>
    <div>
        <canvas id ='weeklyAP'></canvas>
    </div>
    <div>
        <canvas id ='frontBackAP'></canvas>
    </div>
    <div>
        <canvas id="statusPie"></canvas>
    </div>
</body>
<%- include('partials/endHTML.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Este script cambia la visibilidad del dropdown de Epics
    function EpicToggle(flag) {
        var div = document.getElementById('epicDiv');
        if (div.style.visibility == "hidden"){
            div.style.visibility = "visible";
            ChartAll();
        }
        else {
            div.style.visibility = "hidden";
            ChartAll();
        }
    }
</script>

<script>
    // Este script asigna los valores del dropdown de Epics, y los cambia al cambiar el dropdown de proyecto
    window.onload = (event) => {
        SetEpicOptions();
        ChartAll()
    }
    $("#projects").change(function (event) {
        SetEpicOptions();
        ChartAll();
    });
    $("#epics").change(function (event) {
        ChartAll();
    });
    function SetEpicOptions() {
        epicOptions = '';
        fetch('/data/project/epics/' + $("#projects").val(), {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(result => {
            return result.json();
        }).then(epics => {
            let j = true;
            for (let epic of epics.status) {
                epicOptions += "<option value='" + epic.EpicID + "'";
                if (j) {
                    epicOptions += " selected"
                    j = false;
                }
                epicOptions += ">" + epic.EpicName + "</option>";
            };
            document.getElementById("epics").innerHTML = epicOptions
        })
    }
</script>

<script>
    // Estos scripts crean graficas de Linea para los AP completados en una semana
    const ap = document.getElementById('weeklyAP');

    const APchart = {
        labels: ['You','Are','The',"'Ocean's",'Gray','Waves'],
        datasets: [{
            data: [65, 59, 80, 81, 56, 55],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };
    const config = {
        type: 'line',
        data: APchart,
    };
    new Chart(ap, config);
</script>

<script>
    // Estos scripts crean graficas de Pie para los diferentes estatus de un proyecto o Epic
    var pieChart;
    function ProjectPieChart(projectID){
        if (pieChart) {
            pieChart.destroy();
        }    
        const pie = document.getElementById('statusPie');
        fetch('/data/project/status/' + projectID, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(result => {
            return result.json();
        }).then(data => {
            let data_labels = [];
            let data_count = [];
            for (let tag of data.status) {
                data_labels.push(tag.Nombre);
                data_count.push(tag.Cantidad);
            }
            const PIEchart = {
                labels: data_labels,
                datasets: [{
                    data: data_count,
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            };
            const config = {
                type: 'pie',
                data: PIEchart,
            };
            pieChart = new Chart(pie, config);
        })
    }

    function EpicPieChart(epicID){
        if (pieChart) {
            pieChart.destroy();
        }  
        const pie = document.getElementById('statusPie');
        fetch('/data/project/epic/status/' + epicID, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        }).then(result => {
            return result.json();
        }).then(data => {
            let data_labels = [];
            let data_count = [];
            for (let tag of data.status) {
                data_labels.push(tag.Nombre);
                data_count.push(tag.Cantidad);
            }
            const PIEchart = {
                labels: data_labels,
                datasets: [{
                    data: data_count,
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            };
            const config = {
                type: 'pie',
                data: PIEchart,
            };
            pieChart = new Chart(pie, config);
        })
    }
</script>


<!--BURN UP AP-->
<script>
    // Estos scripts crean graficas de Linea para los AP completados en una semana
    var pieCharts;

    //Actualiza datos
    function ProjectPieChart(projectID) {
        if (pieCharts) {
            pieCharts.destroy()
        }

        const buap = document.getElementById('burnupAP');

        const APBurnUp = {
        labels: ['Yocxzcu','cxzAre','zxcThe',"'Oce0000an's",'Gray','Waves'],
        datasets: [{
            data: [65, 59, 80, 81, 56, 55],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };
    const configura = {
        type: 'line',
        data: APBurnUp,
    };
    new Chart(buap, configura);

}

    
</script>





<script>
    function ChartAll() {
        if (document.getElementById('epicDiv').style.visibility == "hidden") {
            ProjectPieChart($("#projects").val());
        } else {
            EpicPieChart($("#epics").val());
        }
    }
</script>
