<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs', {
    active: active
}) %>

    <div class="w-main inline-flex flex-col flex-4">
        <div class="flex sticky top-[10vh] bg-white">
            <div class="flex-1">
                <div class="m-4">
                    <nav class="flex" aria-label="Breadcrumb">                        
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                        <li>
                            <div class="flex items-center">            
                            <a href="/gaia/" class="ml-1 text-sm font-medium text-gray-900 hover:text-gray-400 md:ml-2 ">Project</a>
                            </div>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                            <svg aria-hidden="true" class="w-6 h-6 text-gray-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                            <span class="ml-1 text-sm font-medium text-gray-900 md:ml-2">Tasks</span>
                            </div>
                        </li>
                        </ol>                               
                    </nav>
                </div>
                
                
                <div class="m-4">
                    <div class="inline-flex shadow-sm" role="group">
                        <button type="button" class="btn px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-b border-gray-600  hover:bg-indigo-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white button-value" data-filter="all">
                        ALL
                        </button>
                        <button type="button" class="btn px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-b border-gray-600 hover:bg-indigo-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white button-value" data-filter="frontend">
                        FRONTEND
                        </button>
                        <button type="button" class="btn px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-b border-gray-600  hover:bg-indigo-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white button-value" data-filter="backend">
                        BACKEND
                        </button>
                    </div>
                </div>     
            </div>

            <div class="m-4 flex-[3_3_0%] flex justify-center align-center">
            
                    <% if(epics){%>
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" 
                        class="h-1/2 w-4/5 text-white bg-indigo-900 rounded-l-lg hover:bg-indigo-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center "
                        type="button"><%= epics[0].nombre %><svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                    <!-- Dropdown menu -->                
                    <div id="dropdownHover" class=" z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow max-w-4/5 min-w-44">
                        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownHoverButton">
                            
                                <% for(let i=0;i<epics.length;i++){%>
                                        <li>
                                            <a href="<%= epics[i].idTicket %>" class="block px-4 py-2 rounded-lg hover:bg-indigo-900 hover:text-white"><%= epics[i].nombre %></a>
                                        </li>
                                <% }%>
                            <% }%>
                        </ul>
                    </div>
                    
            </div>
        </div>

        <div class="m-2 p-8 flex flex-row flex-wrap justify-around">
        
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-blue-200 rounded-lg shadow">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">To do </h5>
    
                    <% if (tasks1.length > 0) { %>
                    
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task1 of tasks1) { %>
                                    <tbody class="" category="">
                                        <tr class="text-gray-900 dark:text-gray-800 w-14  text-ellipsis hover:bg-blue-400" >
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900 dark:text-gray text-ellipsis rounded-s-3xl store-itemtk1">                                            
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task1.nombre%><%=task1.idTicket%>" data-modal-toggle="<%=task1.nombre%><%=task1.idTicket%>" >
                                                    <%= task1.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl">
                                                    <%= task1.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task1.nombre%><%=task1.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 id="defaultModal<%=task1.idTicket%>" tabindex="-1" class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task1.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: To do <br>
                                                                    Update date: <%= task1.fechaCambio %> <br>
                                                                    Agile Points: <%= task1.puntosAgiles %> <br>
                                                                    Task type: <%if(task1.esTipo == 1){%>Task<%}else if(task1.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task1.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>                                            
                                            </th>
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks 
                            </p>
                        </div>
                    <% } %>
            </div>
        
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-yellow-200 rounded-lg shadow">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">In progress </h5>
    
                <% if (tasks2.length > 0) { %>
                            
                    <div class="  ">
    
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    
                            <thead class="text-xs text-gray-900 uppercase dark:text-gray-400 ">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Point
                                    </th>
                                </tr>
                            </thead>
    
                            <% for (let task2 of tasks2) { %>
                                <tbody>
                                    <tr class="text-gray-900 dark:text-gray-800 w-14  text-ellipsis    hover:bg-amber-400" >
                                        <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk2">                                            
                                            <!-- Modal toggle -->
                                            <button data-modal-target="<%=task2.nombre%><%=task2.idTicket%>" data-modal-toggle="<%=task2.nombre%><%=task2.idTicket%>" >
                                                <%= task2.nombre %>                                                    
                                            </button>  
                                            <td class="px-6 py-4 rounded-e-3xl">
                                                <%= task2.puntosAgiles %>
                                            </td>                                                                                                                                               
                                            <!-- Main modal -->
                                            <div id="<%=task2.nombre%><%=task2.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                <div class="relative w-full max-w-2xl max-h-full">
                                                    <!-- Modal content -->
                                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                        <!-- Modal header -->
                                                        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                <%= task2.nombre %> 
                                                            </h3>
                                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                <span class="sr-only">Close modal</span>
                                                            </button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <div class="p-6 space-y-6">
                                                            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                Status: In progress <br>
                                                                Update date: <%= task2.fechaCambio %> <br>
                                                                Agile Points: <%= task2.puntosAgiles %> <br>
                                                                Task type: <%if(task2.esTipo == 1){%>Task<%}else if(task2.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                Work area: <%if(task2.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                            </p>                                                                
                                                        </div>                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </th>                                        
                                    </tr>
                                </tbody>
                            <% } %>
                        </table>
                    </div>
                <% }  else { %>
                    <div class="text-center flex justify-center items-center">
                        <p class="text-5 mt-5 font-medium">
                            No tasks
                        </p>
                    </div>
                <% } %>
            </div>
    
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-green-200 rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Code review </h5>
    
                    <% if (tasks3.length > 0) { %>
                            
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task3 of tasks3) { %>
                                    <tbody>
                                        <tr class="text-gray-900 dark:text-gray-800 w-14   text-ellipsis    hover:bg-green-400" >
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk3">
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task3.nombre%><%=task3.idTicket%>" data-modal-toggle="<%=task3.nombre%><%=task3.idTicket%>" >
                                                    <%= task3.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl">
                                                    <%= task3.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task3.nombre%><%=task3.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task3.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: In progress <br>
                                                                    Update date: <%= task3.fechaCambio %> <br>
                                                                    Agile Points: <%= task3.puntosAgiles %> <br>
                                                                    Task type: <%if(task3.esTipo == 1){%>Task<%}else if(task3.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task3.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks
                            </p>
                        </div>
                    <% } %>
            </div>
                
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-red-200 rounded-lg shadow">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Quality review </h5>
    
                <% if (tasks4.length > 0) { %>
                            
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task4 of tasks4) { %>
                                    <tbody>
                                        <tr class="text-gray-900 dark:text-gray-800 w-14   text-ellipsis    hover:bg-red-400">
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk4">
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task4.nombre%><%=task4.idTicket%>" data-modal-toggle="<%=task4.nombre%><%=task4.idTicket%>" >
                                                    <%= task4.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl">
                                                    <%= task4.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task4.nombre%><%=task4.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task4.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: Quality review <br>
                                                                    Update date: <%= task4.fechaCambio %> <br>
                                                                    Agile Points: <%= task4.puntosAgiles %> <br>
                                                                    Task type: <%if(task4.esTipo == 1){%>Task<%}else if(task4.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task4.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks
                            </p>
                        </div>
                    <% } %>
            </div>
    
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-emerald-300 rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Release ready </h5>
    
                    <% if (tasks5.length > 0) { %>
                            
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task5 of tasks5) { %>
                                    <tbody>
                                        <tr class="text-gray-900 dark:text-gray-800 w-14   text-ellipsis    hover:bg-green-500" >
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk5">
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task5.nombre%><%=task5.idTicket%>" data-modal-toggle="<%=task5.nombre%><%=task5.idTicket%>" >
                                                    <%= task5.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl"> 
                                                    <%= task5.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task5.nombre%><%=task5.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task5.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: Release ready <br>
                                                                    Update date: <%= task5.fechaCambio %> <br>
                                                                    Agile Points: <%= task5.puntosAgiles %> <br>
                                                                    Task type: <%if(task5.esTipo == 1){%>Task<%}else if(task5.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task5.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>               
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks
                            </p>
                        </div>
                    <% } %>
            </div>
    
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-violet-400 rounded-lg shadow">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Done</h5>
    
                    <% if (tasks6.length > 0) { %>
                            
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task6 of tasks6) { %>
                                    <tbody>
                                        <tr class="text-gray-900 dark:text-gray-800 w-14   text-ellipsis    hover:bg-purple-700" >
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk6">
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task6.nombre%><%=task6.idTicket%>" data-modal-toggle="<%=task6.nombre%><%=task6.idTicket%>" >
                                                    <%= task6.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl">
                                                    <%= task6.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task6.nombre%><%=task6.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task6.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: Quality review <br>
                                                                    Update date: <%= task6.fechaCambio %> <br>
                                                                    Agile Points: <%= task6.puntosAgiles %> <br>
                                                                    Task type: <%if(task6.esTipo == 1){%>Task<%}else if(task6.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task6.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>                                            
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks
                            </p>
                        </div>
                    <% } %>
            </div>
    
            <div href="#" class="block min-w-[20%] max-w-[40%] my-2 mx-1 p-6 bg-indigo-200 rounded-lg shadow">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Closed </h5>
    
                    <% if (tasks7.length > 0) { %>
                            
                        <div class="  ">
                            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Point
                                        </th>
                                    </tr>
                                </thead>
                                <% for (let task7 of tasks7) { %>
                                    <tbody> 
                                        <tr class="text-gray-900 dark:text-gray-800 w-14   text-ellipsis    hover:bg-blue-300" >
                                            <th scope="row" class="px-6 py-4 w-0.5 font-medium text-gray-900   dark:text-gray text-ellipsis    rounded-s-3xl store-itemtk7">
                                                <!-- Modal toggle -->
                                                <button data-modal-target="<%=task7.nombre%><%=task7.idTicket%>" data-modal-toggle="<%=task7.nombre%><%=task7.idTicket%>" >
                                                    <%= task7.nombre %>                                                    
                                                </button>  
                                                <td class="px-6 py-4 rounded-e-3xl">
                                                    <%= task7.puntosAgiles %>
                                                </td>                                                                                                                                               
                                                <!-- Main modal -->
                                                <div id="<%=task7.nombre%><%=task7.idTicket%>" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                                    <div class="relative w-full max-w-2xl max-h-full">
                                                        <!-- Modal content -->
                                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                                            <!-- Modal header -->
                                                            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                                                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                                    <%= task7.nombre %> 
                                                                </h3>
                                                                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                                                                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                                                    <span class="sr-only">Close modal</span>
                                                                </button>
                                                            </div>
                                                            <!-- Modal body -->
                                                            <div class="p-6 space-y-6">
                                                                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                                                                    Status: Quality review <br>
                                                                    Update date: <%= task7.fechaCambio %> <br>
                                                                    Agile Points: <%= task7.puntosAgiles %> <br>
                                                                    Task type: <%if(task7.esTipo == 1){%>Task<%}else if(task7.esTipo == 2){%>Story<%}else{%>Bug<%}%><br>
                                                                    Work area: <%if(task7.front_back == 0){%>FRONTEND<%}else{%>BACKEND<%}%>
                                                                </p>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            
                                        </tr>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    <% }  else { %>
                        <div class="text-center flex justify-center items-center">
                            <p class="text-5 mt-5 font-medium">
                                No tasks
                            </p>
                        </div>
                    <% } %>
            </div>
        </div>
    </div>
    
</div>

<script>
    
    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk1')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task1.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk2')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task2.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk3')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task3.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk4')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task4.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk5')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task5.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk6')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task6.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();

    (function () {
        const buttons = document.querySelectorAll('.btn')
        const storeItem = document.querySelectorAll('.store-itemtk7')

        buttons.forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault()
                const filter = e.target.dataset.filter

                storeItem.forEach((item) => {
                    if(filter == 'all') {
                        item.style.display = 'block'
                    }
                    else if (filter == 'frontend'){
                        item.style.display = '<%= task7.front_back %>' 
                    }
                    else if (filter == 'backend'){
                        item.style.display = 'none' 
                    }
                    else {
                        if (item.classList.contains(filter)) {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    }
                })
            })
        })
    })();
    
</script>

<%- include('partials/endHTML.ejs') %>